In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('Amazon Sale Report.csv')

C:\Users\singh\AppData\Local\Temp\ipykernel_2500\2474663059.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Amazon Sale Report.csv')

#### Reading Data

In [3]:
df.head(5)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

### Finding Null Values

In [4]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

### Dropping Unwanted Columns

In [5]:
df.info()
0,8,14,19,20,22,23,11,13,10

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

(0, 8, 14, 19, 20, 22, 23, 11, 13, 10)

In [6]:
df.drop(df.columns[[0,8,14,19,20,22,23,11,13,10]], axis = 1 , inplace = True)

In [7]:
df.head(3)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,Category,Courier Status,Amount,ship-city,ship-state,ship-postal-code,B2B
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,Set,NaN,647.62,MUMBAI,MAHARASHTRA,400081.0,False
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,kurta,Shipped,406.00,BENGALURU,KARNATAKA,560085.0,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,kurta,Shipped,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,True

In [8]:
df.shape

(128975, 14)

### Dropping Null Values

In [9]:
df.dropna(inplace = True)

In [10]:
df.shape

(116016, 14)

In [11]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
Category              0
Courier Status        0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
B2B                   0
dtype: int64

### Checking the unique values

In [12]:
for i in df.columns:
    print(i)
    print(df[i].unique())
    print('-----------\n')

Order ID
['171-9198151-1101146' '404-0687676-7273146' '407-1069790-7240320' ...
 '407-9547469-3152358' '402-6184140-0545956' '408-7436540-8728312']
-----------

Date
['04-30-22' '04-29-22' '04-28-22' '04-27-22' '04-26-22' '04-25-22'
 '04-24-22' '04-23-22' '04-22-22' '04-21-22' '04-20-22' '04-19-22'
 '04-18-22' '04-17-22' '04-16-22' '04-15-22' '04-14-22' '04-13-22'
 '04-12-22' '04-11-22' '04-10-22' '04-09-22' '04-08-22' '04-07-22'
 '04-06-22' '04-05-22' '04-04-22' '04-03-22' '04-02-22' '04-01-22'
 '03-31-22' '05-31-22' '05-30-22' '05-29-22' '05-28-22' '05-27-22'
 '05-26-22' '05-25-22' '05-24-22' '05-23-22' '05-22-22' '05-21-22'
 '05-20-22' '05-19-22' '05-18-22' '05-17-22' '05-16-22' '05-15-22'
 '05-14-22' '05-13-22' '05-12-22' '05-11-22' '05-10-22' '05-09-22'
 '05-08-22' '05-07-22' '05-06-22' '05-05-22' '05-04-22' '05-03-22'
 '05-02-22' '05-01-22' '06-29-22' '06-28-22' '06-27-22' '06-26-22'
 '06-25-22' '06-24-22' '06-23-22' '06-22-22' '06-21-22' '06-20-22'
 '06-19-22' '06-18-22' '06-17-22' '06-16-22' '06-15-22' '06-14-22'
 '06-13-22' '06-12-22' '06-11-22' '06-10-22' '06-09-22' '06-08-22'
 '06-07-22' '06-06-22' '06-05-22' '06-04-22' '06-03-22' '06-02-22'
 '06-01-22']
-----------

Status
['Shipped - Delivered to Buyer' 'Shipped' 'Cancelled'
 'Shipped - Returned to Seller' 'Shipped - Rejected by Buyer'
 'Shipped - Lost in Transit' 'Shipped - Out for Delivery'
 'Shipped - Returning to Seller' 'Shipped - Picked Up' 'Pending'
 'Pending - Waiting for Pick Up' 'Shipped - Damaged']
-----------

Fulfilment
['Merchant' 'Amazon']
-----------

Sales Channel
['Amazon.in']
-----------

ship-service-level
['Standard' 'Expedited']
-----------

Style
['JNE3781' 'JNE3371' 'JNE3671' ... 'J0286' 'J0053' 'SET045']
-----------

Category
['kurta' 'Top' 'Set' 'Western Dress' 'Ethnic Dress' 'Bottom' 'Saree'
 'Blouse' 'Dupatta']
-----------

Courier Status
['Shipped' 'Unshipped']
-----------

Amount
[ 406.  329.  574.  824.  653.  399.  363.  685.  364.  657.  771.  544.
  458.  886.  517.  666.  376.  499.  582.  299.  459.  791. 1233.  487.
  368.  699.  885.  424. 1126.  788.  759. 1146.  665.  429.  848.  654.
 1033.  390.  493.  721.  597.  888.  353.  599.  518.  295.  852.  909.
  432.  545.  696.  631.  316.  362.  751.  684. 1281. 1186.  377.  744.
  859.  825.  680.  725. 1338.  472.  832.  692.  318.  807.  311.  387.
  348.  549.  635.  790.  375. 1115.  579.  442.  690. 1399.  999.  496.
  845.  568.  484.  626.  563.  512. 1112.  583.  534.  319.  795.  588.
  497.  449.    0.  463.  591.  435. 1099.  533.  968.  486. 1065. 2130.
  682. 1140.  660.  345.  339. 1133. 1463.  471.  342.  736. 1260.  475.
  782. 1173.  379. 1999.  737.  899.  426.  995.  562.  476.  625.  505.
 1149. 1499.  835.  789.  620.  511.  352.  874.  259. 1221.  595.  612.
  820.  801.  540. 1213.  939.  279.  469.  989. 1249.  393.  922.  818.
 2224.  792.  967.  662.  715.  916.  283.  419.  452.  431.  414. 1438.
  950.  519. 1199.  291.  276. 1669.  413.  396.  761.  280.  249.  521.
 1432.  391.  474.  495. 1238.  527.  613.  648.  783.  460. 1388. 1518.
 1092.  586.  478.  925.  566.  833.  523. 1299.  531.  659.  560. 1648.
  423. 1556.  383.  571.  799.  446.  881.  477.  869.  548.  488. 1254.
  360.  816.  969.  847. 1163. 1308.  271.  526.  443. 1523.  974.  349.
  637.  819.  817. 1369.  636.  286.  441.  856.  359. 1128.  284.  525.
  972.  864.  453.  455.  884.  421.  729.  671. 1256.  990.  645. 1593.
  575.  889.  911.  763.  267.  297.  719.  641. 2175.  524.  294.  425.
  372.  357.  273.  749.  935.  717. 1695. 1204.  388.  632. 1200.  464.
 1039. 1237.  658.  420. 1287.  569.  590.  611.  839.  333.  720.  567.
  758.  716.  646.  491.  929.  619.  309.  473.  380.  629.  587.  434.
  438.  752.  389.  381. 1776.  462.  436.  433.  522.  573.  382.  551.
 1398. 1158.  814.  547.  355.  539.  698.  385. 1450.  229.  529.  764.
 1477.  870. 1080. 5495.  838.  774. 1296. 1194.  480.  598.  798.  298.
  895. 2198.  638.  942.  468.  714.  365. 1228. 1576.  643. 2299. 1316.
  733.  448.  581. 1088. 1488.  370.  516. 1729. 1326. 1036.  906. 1148.
  541. 2232.  344.  986.  809. 1136. 1104.  322.  422.  724. 1798. 1034.
 2864. 2230.  437.  546. 1330. 1934.  918.  667. 1022. 1551. 1458. 2068.
 1392. 1320. 1671. 2040. 1990.  846. 1245.  812.  199.  269. 1262. 1893.
  589. 1129.  930.  618. 1127.  371. 1481. 1079.  912.  987.  871.  530.
  683. 1691. 1154.  528.  747. 2860. 1430.  775.  412.  955.  630. 1053.
  898. 1020. 1130. 1292.  510.  481. 1078.  358.  958.  678.  647. 1201.
 1075.  354.  542. 1298.  313.  677. 1166. 1138.  998.  330. 1147.  627.
  730.  745. 1270.  877.  786.  949.  293.  317.  622. 1170.  689.  556.
  277.  688.  927. 5584.  394.  315.  350.  920.  984.  849. 1085.  750.
  328.  676.  378.  338. 1271. 1120. 1354. 1229.  461.  347.  941. 1324.
  584.  561.  873. 1125.  427.  417.  501.  616.  672.  836.  727.  241.
  947.  675.  324.  264. 1030.  248.  743.  642.  841.  956. 1220. 1174.
  693. 1196.  772. 1250.  327.  712.  405. 1386.  400. 1916. 1236. 1426.
  450.  834.  343.  865.  346.  900.  292.  321.  594. 1051.  650.  428.
  640.  466. 1098.  490. 1165. 2066. 2016.  465. 2397.  726. 1542.  674.
 1396. 1449. 1496.  537. 1017. 1116. 1799.  988.  655.  850. 1072. 1349.
  709. 1132.  301.  605.  711.  837.  962.  854.  633. 1122. 1063.  661.
  479.  753.  777.  513. 1282.  857. 1923.  811. 1364.  373.  386. 1152.
  337.  741.  307.  614.  418. 1284. 1698.  325. 1418.  669.  565. 2298.
 1026.  668. 1332. 1189.  320.  621. 1096.  769.  570.  305.  773.  785.
  686.  440. 1068.  936.  356. 1649.  615.  552. 1672.  361.  679.  543.
  604.  558. 2655. 1770.  603.  335.  367.  766.  341.  634.  331. 2372.
  323.  756.  882. 2598. 1722.  844.  451.  985.  602.  457. 1629. 1082.
  965.  803. 1554.  876.  489.  332. 1998. 1528.  369. 2698.  746.  976.
  878. 1181.  351.  649. 1714. 1582.  937.  738. 1089. 1708. 1310. 1198.
  755. 2058. 1372. 2676. 1224. 1836.  735.  842.  973.  831. 1073.  762.
 1043.  553. 1164. 1137.  507.  336.  306.  664.  800.  416. 1315.  550.
  606. 1442.  308. 1268.  979. 1319.  760.  787. 1192. 1083.  310.  607.
  776.  883.  728.  397. 1419.  931. 2442. 1248.  467.  596.  940.  827.
  430. 1352.  502.  554.  535.  855. 1473. 1018.  919. 1008. 1258.  828.
  498.  754.  933. 1333. 1041.  702.  808. 1231.  564.  872. 1093.  410.
  398. 1297. 1325. 1323.  559.  314.  802. 1404.  593.  902.  366.  704.
  796.  880.  797.  384.  767.  703.  572. 1559. 1596. 1226. 1202.  663.
 1572. 2796. 1764. 1797.  494. 1362. 1108. 1066.  492.  921.  718. 1309.
  892. 1549. 1531. 1031. 1409. 1279. 1111. 1650. 1257. 1205.  765. 1389.
 1159.  694. 1190. 1486. 1670. 3036. 1448. 2292. 1168.  908. 1091.  879.
 1139. 1447.  948. 1329. 1094. 1044. 1301. 1176. 1187.  794. 1377. 1603.
 1076.  952. 1470. 2326. 1234. 1598. 1403. 1269. 1294. 1610.  779.  826.
 1498.  982. 1074.  723.  706.  891.  334.  695.  409. 1613.  992. 1662.
  312. 1014.  580. 1584.  652.  515. 1328. 1976. 1290. 2250. 1740. 1384.
 1516. 1376. 1013.  914.  483. 2182. 1472.  402.  707. 1704. 2664.  536.
 2894. 1124.  793. 1574. 1049.  748. 2244. 1161. 1504. 1566.  404.  411.
 1210. 1244.  639.]
-----------

ship-city
['BENGALURU' 'NAVI MUMBAI' 'CHENNAI' ... 'GULABPURA, Distt BHILWARA'
 'Prayagraj (ALLAHABAD)' 'Halol']
-----------

ship-state
['KARNATAKA' 'MAHARASHTRA' 'TAMIL NADU' 'UTTAR PRADESH' 'CHANDIGARH'
 'TELANGANA' 'ANDHRA PRADESH' 'RAJASTHAN' 'DELHI' 'HARYANA' 'ASSAM'
 'JHARKHAND' 'CHHATTISGARH' 'ODISHA' 'KERALA' 'MADHYA PRADESH'
 'WEST BENGAL' 'NAGALAND' 'Gujarat' 'UTTARAKHAND' 'BIHAR'
 'JAMMU & KASHMIR' 'PUNJAB' 'HIMACHAL PRADESH' 'ARUNACHAL PRADESH'
 'MANIPUR' 'Goa' 'MEGHALAYA' 'PUDUCHERRY' 'GOA' 'TRIPURA' 'LADAKH'
 'DADRA AND NAGAR' 'SIKKIM' 'Delhi' 'ANDAMAN & NICOBAR ' 'Punjab'
 'Rajshthan' 'Manipur' 'rajasthan' 'Odisha' 'NL' 'Bihar' 'MIZORAM'
 'punjab' 'New Delhi' 'Rajasthan' 'Punjab/Mohali/Zirakpur' 'Puducherry'
 'delhi' 'RJ' 'Chandigarh' 'orissa' 'LAKSHADWEEP' 'goa' 'PB'
 'Arunachal Pradesh' 'AR' 'Pondicherry' 'Sikkim' 'Arunachal pradesh'
 'Nagaland' 'bihar' 'Mizoram' 'rajsthan' 'Orissa' 'Rajsthan']
-----------

ship-postal-code
[560085. 410210. 600073. ... 841409. 629152. 311021.]
-----------

B2B
[False  True]
-----------

### Checking and updating datatypes of column accordingly

In [13]:
df.dtypes

Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
Category               object
Courier Status         object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
B2B                      bool
dtype: object

In [14]:
df['Amount'] = df['Amount'].apply(np.int64)

In [18]:
df.dtypes

Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
Category               object
Courier Status         object
Amount                  int64
ship-city              object
ship-state             object
ship-postal-code      float64
B2B                      bool
dtype: object

In [19]:
df.head(3)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,Category,Courier Status,Amount,ship-city,ship-state,ship-postal-code,B2B
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,kurta,Shipped,406,BENGALURU,KARNATAKA,560085.0,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,kurta,Shipped,329,NAVI MUMBAI,MAHARASHTRA,410210.0,True
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,Top,Shipped,574,CHENNAI,TAMIL NADU,600073.0,False

### Saving the cleaned data into csv file

In [20]:
df.to_csv("clnamazonsales.csv",index=False)

In [22]:
df.shape

(116016, 14)

In [23]:
df['Status'].unique()

array(['Shipped - Delivered to Buyer', 'Shipped', 'Cancelled',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged'], dtype=object)

In [24]:
df['Status'].value_counts()

Shipped                          77580
Shipped - Delivered to Buyer     28754
Cancelled                         5628
Shipped - Returned to Seller      1947
Shipped - Picked Up                973
Pending                            656
Pending - Waiting for Pick Up      281
Shipped - Returning to Seller      145
Shipped - Out for Delivery          35
Shipped - Rejected by Buyer         11
Shipped - Lost in Transit            5
Shipped - Damaged                    1
Name: Status, dtype: int64

In [ ]:
Shipped - Returned to Seller , Shipped - Damaged  , Cancelled , Shipped - Returning to Seller